/* Google Fonts Import - Merriweather, Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;900&family=Merriweather:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* 
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif; 
  */
}

/* Common Styles */
header,
main,
.footer-wrapper {
  width: 80%;
  margin: 0 auto;
}

/* Main Banner Section Start */
.main-banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./../images/Banner_Image.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: 50px 0 100px 0;
  border-radius: 16px;
  font-family: Merriweather;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-banner p {
  font-size: 32px;
  font-weight: 400;
}

.main-banner h1 {
  font-size: 72px;
  font-weight: 900;
}
/* Main Banner Section End */

/* ---------------------------------- */
/* Main Section Start */

/* Primary Offer Discount Section Start */
.primary-offer-discount {
  text-align: center;
  font-family: Inter;
}

.primary-offer-discount h1 {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

.primary-offer-discount p {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.primary-offer-discount h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

.primary-offer-discount img {
  margin: 50px 0 120px 0;
}
/* Primary Offer Discount Section End */

/* Welcome Midnight Party Section Start */
.welcome-midnight-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("./../images/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 16px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.welcome-midnight-party h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.welcome-midnight-party p {
  color: #ffffffcc;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 25px 0 20px 0;
}

.welcome-midnight-party button {
  color: #f00;
  background-color: #fff;
  padding: 16px 32px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  outline: none;
}
/* Welcome Midnight Party Section End */

/* Hotel Event Details Section Start */
.hotel-event-details {
  font-family: Inter;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );

  text-align: center;
  padding: 150px 0;
  border-radius: 16px;
}

.hotel-event-details p {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.hotel-event-details button {
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  margin-top: 50px;
  cursor: pointer;
}

.hotel-event-details span {
  color: #f00;
}
/* Hotel Event Details Section End */

/* Upcoming Best Offer Section Start */
.upcoming-best-offer {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: 100px 0 150px 0;
}

.upcoming-offer-soon,
.friends-party-img {
  width: 40%;
}

.upcoming-offer-soon strong {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.upcoming-offer-soon h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0 22px 0;
}

.upcoming-offer-description {
  color: #07021199;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.friends-party-img {
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 40px;
}

.upcoming-offer-2024 {
  width: 20%;
}

.upcoming-offer-2024 h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.upcoming-offer-paragraph {
  margin: 16px 0 45px 0;
}
/* Upcoming Best Offer Section End */

/* Holidays Sale Descount Section Start */
.holidays-sale-discount {
  margin: 100px 0 100px 0;
}

.holiday-content-area {
  text-align: center;
}

.holiday-content-area strong {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.holiday-content-area h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin: 16px 0 28px 0;
}

.holiday-content-area h1 span {
  color: #f00;
}

.holiday-content-area p {
  color: #07021199;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.discount-area {
  margin: 50px 0;
  height: 620px;
  width: 100%;
  position: relative;
}

.shopping_girl {
  position: absolute;
  right: 0;
  top: 0;
}
.discount50 {
  position: absolute;
  right: 300px;
  top: 70px;
}

.red-shape-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.gift-box {
  height: 400px;
  position: absolute;
  bottom: 60px;
  left: 80px;
}
/* Holidays Sale Descount Section End */

/* Portfolio Section Start */
.product-portfolio {
  margin-bottom: 50px 0 150px 0;
}

.product-portfolio strong {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.product-portfolio h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0 22px;
}

.product-portfolio p {
  color: #07021199;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.portfolio-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 50px;
}

.portfolio-products .portfolio-product {
  width: 30%;
  overflow: hidden;
  border-radius: 16px;
}

.portfolio-product img {
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.portfolio-product:hover img {
  transform: scale(1.1);
}
/* Portfolio Section End */

/* Newsletter Subscription Section Start */
.newsletter-subscription {
  background-color: #ff00000d;
  border-radius: 16px;
  margin: 100px 0;
  padding: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-subscription img {
  width: 150px;
  height: 150px;
}

.newsletter-subscription h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin: 40px 0 20px 0;
}

.newsletter-subscription p {
  color: #07021199;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.input-box-wrapper {
  margin-top: 50px;
  width: 650px;
  max-width: 100%;
  position: relative;
}

.input-box-wrapper input {
  width: 100%;
  padding: 25px 0 25px 30px;
  border-radius: 50px;
  background: #fff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
}

.input-box-wrapper button {
  width: 210px;
  max-width: 210px;
  border-radius: 0px 50px 50px 0px;
  height: 100%;
  background: #f00;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
/* Newsletter Subscription Section End */

/* Main Section End */

/* Footer Section Start */
footer {
  background: #070211;
  padding: 70px 0;
}

.footer-wrapper {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.footer-wrapper hr {
  height: 1px;
  background-color: #ffffff26;
  border: none;
}

.address-info-wrapper p,
.contact-info-wrapper .contact-info {
  margin-bottom: 10px;
}

.contact-info .contact-website {
  cursor: pointer;
}

/* Address Inofo */
.address-contact-info,
.copyright-unsubscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.contact-info {
  display: flex;
  gap: 16px;
}

/* Social Icon */
.social-media-links {
  margin: 48px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-media-links img {
  height: 64px;
  cursor: pointer;
}
/* Footer Section End */
